<div id="<%= dom_id application %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Customer:</strong>
    <%= application.customer_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= application.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= application.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Due on:</strong>
    <%= application.due_on %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= application.notes %>
  </div>
</div>
