<div id="<%= dom_id customer %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= customer.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= customer.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Company name:</strong>
    <%= customer.company_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Kana:</strong>
    <%= customer.kana %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= customer.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= customer.phone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Address:</strong>
    <%= customer.address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= customer.notes %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= customer.status %>
  </div>
</div>
